/* Alison Porter*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: flex;
  flex-direction: column;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* global styles*/
@import url(https://fonts.google.com/share?selection.family=Molle:ital@1%7CMontserrat );

:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
    --font-family: "Montserrat", system-ui;
    --menu-speed: 0.75s;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
/* ------ body -------- */
body {
    margin: 0;
    padding: 0;
    background: var(--white);
    color: var(--black);
    max-width: 320px;
    display: flex;
    flex-direction: column;
    
}


/* ----- HIDDEN CONTENT STYLES ----- */
#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  .sr-only {
    visibility: hidden;
    height: 1px;
    width: 1px;
 }
/* heading / text styles*/
h1, h2, h3 {
    font-family: "Molle", system-ui;
    font-size: 2rem;
    line-height: 2rem;
}

h4, p, q, small, nav, button, form {
  font-family: var(--font-family);
}


/* header */
header {
    margin-top: 0;
    background: linear-gradient( var(--teal) 75%, var(--white));
    max-width: 100%;

}
#menuToggle {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 2px;
    top: -165px;  
    z-index: 1;  
    -webkit-user-select: none;
    -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    
  }
#menuToggle li {
  display: flex;
  height: 50px;
  width: 100%;
  margin:auto;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border-bottom: solid 2px var(--black);


}
  
#menuToggle a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.5rem;
    font-weight: bold;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
    background-color: var(--teal);
  }
  
#menuToggle a:hover, span:hover {
    color: var(--blue);
  }
  
  
  /* The hamburger button hidden inside an input element */
  #menuToggle input {
    
    width: 100%;
    height: 2px;
    user-select: none;
    position: relative;
    top: 0px;
    padding: 0;
    cursor: pointer;  
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */  

  }
  #menuToggle label {
    position: fixed;
    display: block;
    width: 100%;
    height: 75px;
    top: 15px;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;           
    background-color: var(--black);

  }

  #menuToggle label span {
    display: block;
    position: relative;
    text-align: center;
    top:25px;
  }
  #menuToggle label span:before, label span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  /*
   * Hamburger checked
   */
  
#menutoggle input:checked {
    background: var(--light-gray);
    justify-content: center;
  }

  #menuToggle input:checked ~ ul {
    justify-content: center;
  }

label span:before, label span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

nav input:checked ~ ul {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
    align-content: center;
    height: 300px;
    padding: 0;
    top: 230px;
    width:320px;
    background-color: var(--teal);
    overflow: visible;
    z-index: 1;
    border: solid 2px var(--black);
    left: 0;
    transform: rotate(360deg);
    transition: all 0.5s ease 0s;
}
nav h1{
    font-size: 2rem;;
}
.head-logo {
    top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: center;
    align-items: left;
    padding: 10px;
    width: 100%;
    line-height: 1.4rem;
}
.head-logo a{
  position: relative;
 
}
/* main */
main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding:2px;

}
#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
  margin-top: 150px;
    

}
#intro p, #intro h2 {
  padding: 10px;
  width: 100%;
  line-height: 1.4rem;
}
#img-grid {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  row-gap: 5px;
  width: 100%;
}
#img-grid picture img{
  width: 100%;
}

#plan {
  width: 100%;
  row-gap: 10px;
  margin-top: 10px;
  background-color: var(--yellow);
  padding: 15px;
  justify-content: center;
  align-items: center;
  
}
#plan h3 {
  text-align: left;
  top: 15px;
  position: relative;
}
#plan h4 {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}
#plan div {
  margin-top: 10px;
  padding: 2px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
}
#plan div section {
  background-color: var(--teal);
  border: solid 5px var(--white) ;
  border-radius: 12px;
  align-items: center;
  padding: 20px;
}
#testimonials {
  width: 100%;
  row-gap: 10px;
  margin-top: 10px;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
#testimonials h4 {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}
#testimonials div section{
  align-items: center;
  padding: 20px;
}
#testimonials h3 {
  text-align: left;
  top: 15px;
  position: relative;
  padding: 10px;
  width: 100%;
}
#testimonials q {
  text-align: center;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.4rem;
  
}
#about {
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  padding: 20px;
  justify-content: center;
  gap: 10px;

}
#about div {
  display: grid;
  align-content: center;
  justify-items: center;

}
#about h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 10px;
  width: 100%;
}
#about h4 {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}
#about h4, #about p {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.4rem;
}
#contact {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  gap: 10px;
}
.form-required {
  font-family: var(--font-family);
  font-size: 1rem;
  font-style: italic;
}
#contact h3 {
  padding: 10px;
  width: 100%;
}
form {
  line-height: 1.4rem;
  position: relative;
  width: 300px;
  margin:0 auto;

}

#names input, #phone, #email{
  width: 100%;
  padding: 10px;
  border-width: 3px;
  border-color: var(--purple);

}
#contact label{
  text-transform: uppercase;
  font-weight: bold;
  
}
#contact .required{
  color: var(--purple);
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
input[type=submit] {
  background-color: var(--purple);
  color: white;
  padding: 10px 0;
  width: 100%;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}
input:focus {
  background-color: var(--yellow);
}
.prefer {
  font-size: 1em;
  font-weight: none;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.7em;
  padding: 10px 0;

}
legend {
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 0;

}
input[type="radio"]{
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  color: var(--purple);
  width: 1em;
  height: 1em;
  border: 0.2em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.1em);
}
.prefer + .prefer {
  margin-top: 1em;
}
select {
  width: 100%;
  padding: 10px;
  border-width: 3px;
  border-color: var(--purple);
}

/* footer */
footer {
  display: flex;
  align-self: center;
  background-color: var(--light-gray);
  width: 100%;
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
  line-height: 1.4rem;
  font-size: small;
  align-content: center;
}
footer a {
  text-decoration: none;
}

/* media queries */
@media screen and (min-width:325px){
  body {
    max-width: 1023px;
  }
  header{
    width: 100%;
  }
  nav{
		max-width: 1023px;
		margin: 0 auto;
	}
	
	
  .head-logo {
    top: 10px;
    margin: auto 5px;
    padding: 20px;
  
  }
  #menuToggle label {
    position: relative;
    display: block;
    width: 100%;
    height: 75px;
    top: 15px;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: none;
  }
}
@media  screen and (min-width:1024px){
  
}